<div class = "padding">
<h1>Editing mii</h1>

<%= render "form", mii: @mii %>

<br>

<div class = "padding_edit">
  <%= link_to "Voir ce Mmii", @mii, class: "btn" %> 
  <%= link_to "Retour à l'accueil", miis_path, class: "btn" %>
</div>
