<p style="color: green"><%= notice %></p>


<h1 class="text-center">Bienvenue sur Mmii !</h1>

<div id="miis">
  <% @miis.each do |mii| %>
    <%= render mii %>
    <p>
      <%= link_to "Voir ce MMii", mii %>
    </p>
  <% end %>
</div>

<%= link_to "Ajouter un MMii", new_mii_path %>


