<div class = "padding">
<h1>Nouveau mii</h1>

<%= render "form", mii: @mii, class: "btn btn-primary" %>

<br>

<div class= "retour">
  <%= link_to "Retour à  l'accueil", miis_path, class: "btn btn_retour" %>
</div>
