/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */


/*Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: "Concert One", sans-serif;
    margin-bottom: 4%;
    
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 75px;
}

h5 {
    font-family: "Concert One", sans-serif;
}

h6 {
    font-family: "Bebas Neue", sans-serif;
    color: gray;
    font-size: 30px;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.show-page .hidden-label {
    display: none;
os}

.container {
    margin-top: 5%;
}

.btn {
    background-color: gray;
    color: white;
    border-radius: 60px;
    font-family: "Concert One", sans-serif;
    margin-left: 3%;
    -webkit-box-shadow: 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    -moz-box-shadow: 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    box-shadow: 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
}

.btn:hover {
    background-color: lightgray;
    color: black;
    -webkit-box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    -moz-box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);

}

.btn_voir:hover {
    background-color: white;
    color: black;
}

.btn_retour {
    margin-top: 1rem;
}


.btn_create {
    background-color: white;
    border-color: #71C1D3;
    border-radius: 60px;
    border-width: 2px;
    color: black;
}

.btn_create:hover {
    background-color: gray;
    color: white;
    -webkit-box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    -moz-box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);

}

.recherche {
    background-color: white;
    border-color: #71C1D3;
    border-radius: 60px;
    font-family: "Concert One", sans-serif;
    -webkit-box-shadow: 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    -moz-box-shadow: 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    box-shadow: 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
}

.recherche:hover {
    background-color: gray;
    color: white;
    -webkit-box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    -moz-box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
    box-shadow: inset 7px 7px 4px -3px rgba(145, 145, 145, 0.68);
}

.navbar {
    padding-right: 3%;
    padding-left: 3%;

}

.form-control {
    border-radius: 50px;
    padding-right: 8%;
    padding-left: 8%;
}
.logo{
    transform: translate(0.25rem, -0.1rem);
    
       
}

.titre_accueil {
    font-family: "Concert One", sans-serif;
    margin-bottom: 4%;
}

.cards_gallery {
    margin: 3%;
}


.padding {
    padding-right: 3%;
    padding-left: 3%;
}

.padding_edit {
    padding-right: 3%;
    padding-left: 3%;
}

.btn_delete {
    background-color: red;
    color: white;
    border-radius: 60px;
    font-family: "Concert One", sans-serif;
    margin-top: 1rem;
}

.btn_delete:hover {
    background-color: #75242c;
    color: white;
    margin-top: 1rem;
}

.btn_modifier {
    margin-top: 1rem;
}

.card_mii {
    margin-left: 3%;
    box-shadow: 10%;

}

.card-body {
    background-color: #71C1D3;
}

.card_slogan {
    padding: 3.5%;
}

.description {
    background-color: #71C1D3;
    padding: 3%;
    margin-right: 0%;
}