/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */


/*Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: "Concert One", sans-serif;
    margin-bottom: 4%;
    
}

.show-page .hidden-label {
    display: none;
  }

.btn {
    background-color: gray;
    color: white;
    border-radius: 60px;
    font-family: "Concert One", sans-serif;
    margin-left: 3%;
}

.btn:hover {
    background-color: #71C1D3; 
    color: black; 

}

.btn_retour {
    margin-top: 1rem;
    

}


.btn_create {
    background-color: white;
    border-color: #71C1D3;
    border-radius: 60px;
    border-width: 2px;
    color: black;
}

.btn_create:hover {
        background-color: gray; 
        color: white; 

}

.recherche {
    background-color: white;
    border-color: #71C1D3;
    border-radius: 60px;
    font-family: "Concert One", sans-serif;
}

.navbar {   
    padding-right: 3%;
    padding-left: 3%;

}

.form-control {
    border-radius: 50px;
    padding-right: 8%;
    padding-left: 8%;
}
.logo{
    transform: translate(0.25rem, -0.1rem);
    
       
}

.titre_accueil {
    font-family: "Concert One", sans-serif;
    margin-bottom: 4%;
}

.cards_gallery {
    margin: 3%;
}


.padding{
    padding-right: 3%;
    padding-left: 3%;
}

.padding_edit {
    padding-right: 3%;
    padding-left: 3%;
}

.btn_delete {
    background-color: red;
    color: white;
    border-radius: 60px;
    font-family: "Concert One", sans-serif;
    margin-top: 1rem;
}
.btn_modifier { 
    margin-top: 1rem;
}

.card_mii {
    margin-left : 3%;

}
